<html>
<head>
    <meta charset="UTF-8">
    <script src="jquery-3.2.1.js"></script>
    <script src="jsencrypt.min.js"></script>
    <script type="text/javascript" src="js/RSA.js"></script>
    <script type="text/javascript" src="js/BigInt.js"></script>
    <script type="text/javascript" src="js/Barrett.js"></script>
    <script type="text/javascript">
        function rsalogin() {
            alert("hh");
            var thisPwd = document.getElementById("password").value;
            bodyRSA();
            var result = encryptedString(key, encodeURIComponent(thisPwd));
            alert("hh");
//            $.get("http://localhost:8080/ChatRobot/user/getKeyMap",{"result":result}, function (data) {
//                if (data) {
//                    $("#save").submit();
//                }
//            });
//            loginForm.action="loginCHK.jsp?result="+result;
//            loginForm.submit();
        }

    </script>


</head>
<body onload="loadXMLDoc()">
<h2>AJAX</h2>
<button type="button" onclick="loadXMLDoc()">请求数据</button>
<button type="button" id="test">请求List数据</button>
<a href="myProductPage">首页</a>
<form>
<input id="password" value="ZZX">  <input type="button" id="save" onclick="rsalogin()">点击</input>
</form>
<div id="myDiv">

</div>

<div>
    <ul id="list">
        <li></li>
    </ul>
</div>


</body>
</html>